<head>

  <%= GMap.header %>
  <%= javascript_include_tag 'util.js'  %>
  <%= @map.to_html %>

</head>

<h1>Editing tour</h1>

<%= @map.div(:width => 900, :height => 500) %>







<% form_for(@tour) do |f| %>
  <%= f.error_messages %>

  <%=  render :partial => 'map', :locals => {:f => f} %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>



  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tour %> |
<%= link_to 'Back', tours_path %>
