<head>
  
  <%= GMap.header %>
  <script src="/util.js" type="text/javascript" > </script>
  <%= @map.to_html %>
  
</head> 


<p>
  
  <h2><%=h @tour.title %></h2>
</p>
<p>
  <%= @map.div(:width => 900, :height => 500) %>
  

 
</p>
<p>
  <b>Body:</b><br/>
  <%=h @tour.body %>
</p>

<p>
  <b>Author:</b>
  <%= @tour.user %>
</p>

<div style="display:none;">
  <%= text_field :tour, :pointsGoingDown %>
  <%= text_field :tour, :pointsGoingUp %>
</div>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
