<head>

  <%= GMap.header %>
  <%= javascript_include_tag 'util.js' %>
  <%= @map.to_html %>

  <% javascript_tag do %>
    var upColor = "#0000ff"
    var downColor = "#ff0000"
  <% end %>


</head> 



<div id="map">
  <%= @map.div(:width => 900, :height => 500) %>
</div>

<div class="main_content">
  <h1><%=h @tour.title %></h1>
  <p class="author">
    <%= @tour.user %>
  </p>

  <p class="description_body" >
    <%=h @tour.body %>
  </p>
  <%= hidden_field :tour, :pointsGoingDown %>
  <%= hidden_field :tour, :pointsGoingUp %>


  <%= link_to 'Edit', edit_tour_path(@tour) %> |
  <%= link_to 'Back', tours_path %>
</div>