<head>
  
  <%= GMap.header %>
  <%= javascript_include_tag 'util.js' %>
  <%= @map.to_html %>

  <% javascript_tag do %>
    var upColor = "#0000ff"
    var downColor = "#ff0000"
  <% end %>


</head> 


<p>
  
  <h2><%=h @tour.title %></h2>
</p>
<p>
  <%= @map.div(:width => 900, :height => 500) %>
  

 
</p>
<p>
  <b>Body:</b><br/>
  <%=h @tour.body %>
</p>

<p>
  <b>Author:</b>
  <%= @tour.user %>
</p>


  <%= hidden_field :tour, :pointsGoingDown %>
  <%= hidden_field :tour, :pointsGoingUp %>


<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
